<footer class="footer"></footer>

<div id="popup1" class="mfp-hide">
    popup 1
</div>


<script src="https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit" async defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDP5wo7yrgRaDgty1Ph-ixOPblSXPbi4YM&language=en"></script>

<script src="libs/jquery/jquery.min.js"></script>

<script src="libs/jquery-ui/jquery-ui.min.js"></script>
<script src="libs/timepicker/jquery.timepicker.min.js"></script>

<script src="libs/form-styler/jquery.formstyler.min.js"></script>

<script src="libs/slick/slick.min.js"></script>

<script src="libs/magnific-popup/jquery.magnific-popup.min.js"></script>

<script src="assets/js/common.js"></script>

</body>
</html>
