<!DOCTYPE html>
<html lang="eng">

<head>

    <meta charset="utf-8">

    <title>Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="libs/bootsrap-grid/bootstrap-grid.min.css">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

    <link rel="stylesheet" href="libs/slick/slick.css">
    <link rel="stylesheet" href="libs/slick/slick-theme.css">

    <link rel="stylesheet" href="libs/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="libs/timepicker/jquery.timepicker.min.css">

    <link rel="stylesheet" href="libs/form-styler/jquery.formstyler.css">
    <link rel="stylesheet" href="libs/form-styler/jquery.formstyler.theme.css">

    <link rel="stylesheet" href="libs/magnific-popup/magnific-popup.css">

    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/media.css">

</head>

<body>

<header class="header">
    <div class="container-fluid">
        <div class="menu__wr">
            <div class="menu menu__main">
                <a href="#">
                    What we do
                </a>
                <a href="#">
                    Projects
                </a>
                <a href="#">
                    Networking
                </a>
                <a href="#">
                    Events
                </a>
                <a href="#">
                    Shop
                </a>
            </div>
        </div>
        <div class="burger burger__black">
            <span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>
</header>